.asside{
  flex: 1 0 250px;
  margin-right: 30px;
  max-width: 250px;
  @media (max-width:860px) {
    display: none;
  }
}

.radio__inner{
  display: flex;
  align-items: center;
  padding: 10px 0;
  img{
    margin: 0 7px;
  }
  input{
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }
  span{
    font-size: 20px;
  }
}