.basket-products{
  &__block{
    & + & {
      border-top: 1px solid lightgray;
    }
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    justify-content: space-between;
    padding-right: 30px;
  }
  &__visual{
    display: flex;
    width: calc(100% - 55px);

  }
  &__img{
    max-height: 130px;
    flex: 0 0 100px;
    img{
      height: 120px;
      margin: 0 auto;
      display: block;
    }
  }
  &__title-block{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
  }
  &__title{
    font-size: 20px;
  }
  &__prise{
    margin-left: auto;
    color: red;
    font-size: 24px;
  }
  &__del{
    color: #FF5858;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.basket-count{
  display: flex;
  &__dic{
    font-weight: 700;
    cursor: pointer;
  }
  &__sum{
    width: 63px;
    border: 1px solid #128fd78a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
    height: 35px;
    margin: 0 10px;
  }
  &__inc{
    font-weight: 700;
    cursor: pointer;
  }
  &__dic, &__sum, &__inc{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__dic{
    width: 25px;
    cursor: pointer;
  }
  &__inc{
    cursor: pointer;
  }
}

.basket-products{
  overflow-y: scroll;
  min-height: 100%;
  max-height: 100%;
  scrollbar-color: #458245 #714826; 
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 6px; /* ширина для вертикального скролла */
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 3px;
    box-shadow: inset 1px 1px 10px #f3faf7;
    cursor: pointer;
  }
  &__del{
    cursor: pointer;
  }
}

.basket{
  position: fixed;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  top: 0;
  left: 0;
  &__inner{
    background-color: #fff;
    width: 50%;
    min-height: 500px;
    height: 50vh;
    position: relative;
  }
  &__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 50%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    padding-bottom: 10px;
    margin-top: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 10px;
    padding-right: 15px;
  }
  &__title{
    margin: 0;
    margin-left: 45px;
    margin-top: 10px;
    font-size: 32px;
  }
  &__closes{
    cursor: pointer;
  }
  &__news{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #FF6F6F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: -4px;
    left: -10px;
    font-size: 16px;
  }
  &__total{
    width: 50%;
    background-color: #fff;
    padding: 45px 15px;
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 1;
    
  }
  &__prise{
    color: #FF5858;
    font-size: 32px;
    font-weight: 700;
    margin-right: 20px;
  }
  &__formet{
    background-color: #1290D7;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    height: 50px;
    width: 250px;
  }
  &__back{
    color: #4672e1;
    margin-left: 20px;
  }
}

