.header{
  position: relative;
  background: linear-gradient(180deg, #479CFF -17.5%, #4543BF 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  form{
    display: flex;
    align-items: center;
    flex: 0 1 500px;
    input{
      padding-left: 9px;
      &::placeholder{
        font-size: 18px;
        color: #BAB7B7;
      }
      &:focus{
        outline: none;
      }
      width: 100%;
      height: 35px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      border: 1px solid #DADADA;
    }
    .loop{
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 37px;
      border: 1px solid #DADADA;
      border-left: none;
      height: 35px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
    }
  }
  &__menu{
    ul{
      display: flex;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: #fff;
          &.active{
            color: rgb(255, 255, 255);
            font-weight: 700;
          }
        }
      }
      li + li {
        margin-left: 25px;
      }
    }
  }
  &__busket{
    cursor: pointer;
    position: relative;
  }
}

