.product{
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title{
    font-size: 18px;
    font-weight: 400;

  }
  &__more{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}

